.udacity-logo{
   height: 40%; 
   width: 40%; 
   color: #02b3e4;
   margin: 4em 0 0 0;
}

.author-name{
   font: 4em lighter Helvetica, Arial, sans-serif;
   margin: 1em 0 0 0;
}

.job{
   font: 2em bold Helvetica, sans-serif, Arial;
   margin: 0;
}

.ruled-line{
   border-width: 1em;
   color: #7d97ad; 
}

.align-center{
   text-align: center;
}

.align-left{
   text-align: left;
}

.align-right{
   text-align: right;
}


.featured-work{
   height: auto;
   color: #7d97ad;
   font: lighter Arial, sans-serif;
   margin: 1em 0 1em 0;
}

.image-lower{ 
   height: 50%; 
   width:100%;
}

.text-lower{
   height: auto;
   font: 2em Arial, sans-serif;
   color: #2d3c49;
}

.html-link{
   font: 1em lighter Arial, sans-serif;
   color: #7d97ad;
   margin: 0 0 4rem 0;
}
