.udacity-logo{
   width: 75px; 
   height: 75px; 
   width: 15%; 
   margin-left:0;
}

.author-name{
   font-family: Helvetica, Arial, sans-serif;
   font-size: 50px;
   font-weight: 100;
   color: #334567;
}

.job{
   font-family: Helvetica, Arial, sans-serif;
   font-size: 25px;
   font-weight: 600;
   color: #334567;
}

.align-center{
   text-align: center;
}

.align-left{
   text-align: left;
}

.align-right{
   text-align: right;
}


.featured-work{
   height: auto;
   color: #334567;
   font-family: Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin-top: 30px;
}

.image-lower{
   width: 200px; 
   height: 200px; 
   width: 100%; 
}

.html-link{
   font-family: Helvetica, Arial, sans-serif;
   font-size: 15px;
   color: #334567;
}
