.udacity-logo{
   width: 75px; 
   height: 75px; 
   width: 15%; 
   color: #02b3e4;
   margin-left: 0;
}

.author-name{
   font-family: Helvetica, sans-serif, Arial;
   font-size: 50px;
   font-weight: 100;
}

.job{
   font-family: Helvetica, sans-serif, Arial;
   font-size: 25px;
   font-weight: 600;
}

.align-center{
   text-align: center;
}

.align-left{
   text-align: left;
}

.align-right{
   text-align: right;
}


.featured-work{
   height: auto;
   color: #7d97ad;
   font-family: Arial, sans-serif;
   font-weight: 100;
   margin-top: 30px;
}

.image-lower{
   width: 200px; 
   height: 200px; 
   width: 100%; 
}

.text-lower{
   height: auto;
   font-size: 25px;
   color: #2d3c49;
   font-family: Arial, sans-serif;
}

.html-link{
   font-family: Arial, sans-serif;
   font-size: 10px;
   color: #334567;
}
